:root {
  --primary: #243D4D;
  --secondary: #3F484D;
  --tertiary: #3B464D;
  --fourth: #487A99;
  --fourth-hover: #17618f;
  --black: #020405

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#header, footer {
  background-color: var(--black)

}

#root {
  background-color: var(--black)
}

button.btn {
  background-color: var(--fourth);
  border: none;
}

button.btn:hover {
  background-color: var(--fourth-hover);
}

h2 {
  color: var(--secondary)
}

#signupContainer {
  transition-property: opacity;
  transition-duration: 2s;
}

#signupContainer.container-invisible {
  opacity: 0;

  
}

#logout-text:hover{
  cursor: pointer
}

.workoutDataContainer > .workoutData:nth-child(odd) {
  background-color:#000;
  color: #aaa
}

.workoutDataContainer > .workoutData:nth-child(odd):hover {
  background-color:#111;
  color: #aaa
}

.workoutData:hover {
  cursor: pointer;
}

.workoutDataContainer > .workoutData:nth-child(even) {
  background-color:#aaa;
  color: #000
}

.workoutDataContainer > .workoutData:nth-child(even):hover {
  background-color:#ccc;
  color: #000
}

button.btn-close {
  color:#fff;
  background-color: #fff
}

#addWorkoutDiv, #addExerciseDiv {
  background-color: #000;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

@media only screen and (min-width: 992px) {
  #addWorkoutDiv, #addExerciseDiv {
    width: 50%;
    left: 50;

  }
}