:root {
  --primary: #3735DB;
  --secondary: #848F14;
  --tertiary: #CBDB2A;
  --button: #DBA140;
  --button-hover: #8F6B31;
  --black: #020405;
  --selected: #CBDB2A
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav#header, footer {
  background-color: var(--primary)

}

p, label {
  color: var(--primary)
}

#workoutColumnHeader, #exerciseColumnHeader {
  color: var(--primary);
}

h3 {
  color: var(--primary)
}

button.btn {
  background-color: var(--button);
  border: none;
}

button.btn:hover {
  background-color: var(--button-hover);
}

h2 {
  color: var(--primary)
}

#signupContainer {
  transition-property: opacity;
  transition-duration: 2s;
}

#signupContainer.container-invisible {
  opacity: 0; 
}

#logout-text:hover{
  cursor: pointer
}

.workoutData {
  color: var(--primary);
  border-bottom: 1px solid var(--primary)
}

.workoutData:hover {
  background-color: #c5c2c2fb;
  cursor: pointer;
}

.workoutData.selected, .workoutData.selected:hover {
  background-color: var(--selected);
  color: #000
}

button.btn-close {
  color:#fff;
  background-color: #fff
}

#addWorkoutDiv, #addExerciseDiv {
  color: var(--primary);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

}

.btn.homeLinkButton {
  background-color: var(--button);
}

.btn.homeLinkButton:hover {
  background-color: var(--button-hover);
}

#deleteWorkoutBox, #deleteExerciseBox {
  z-index: 20;
}

#deleteWorkoutBox, #deleteExerciseBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#guestSignInLink:hover {
  cursor: pointer

}


@media only screen and (min-width: 992px) {
  #addWorkoutDiv, #addExerciseDiv {
    width: 50%;
    margin: 0 auto;
    left: 25vw;
  }
}